packages/
AntlrLanguage/obj/
AntlrLanguage/bin/
AntlrVSIX/obj/
AntlrVSIX/bin/

# ignore Visual Studio user files
*.suo
*.csproj.user
*.xproj.user
*.sln.cache

# User files related to NuGet project.json
*.lock.json
*.nuget.props
*.nuget.targets

# Ignored testing and profiling files
TestResults/
*.vsp
*.testsettings

# Roslyn Cache
.vs/

# ignore C# build directories
[Dd]ebug/
[Rr]elease/
reference/.metadata/
reference/reference.net/
/runtime/CSharp/packages/
obj/
bin/

# ignore Java (Maven) build directory
tool/target/
.idea/
*.iml

# ignore NuGet output folders
/build/nuget/
f/
AntlrVSIX.GrammarDescription.Antlr/.antlr/
*.class
test/.metadata/
VSCode.LspAntlr/client/node_modules/
VSCode.LspAntlr/client/out/
VSCode.LspAntlr/node_modules/
VSCode.LspAntlr/server/netcoreapp3.0/
VSIde.LspAntlr/y
*.vsix
LanguageServer/ANTLRv4Lexer.cs
LanguageServer/ANTLRv4Lexer.interp
LanguageServer/ANTLRv4Lexer.tokens
LanguageServer/ANTLRv4Parser.cs
LanguageServer/ANTLRv4Parser.interp
LanguageServer/ANTLRv4Parser.tokens
LanguageServer/ANTLRv4ParserBaseListener.cs
LanguageServer/ANTLRv4ParserBaseVisitor.cs
LanguageServer/ANTLRv4ParserListener.cs
LanguageServer/ANTLRv4ParserVisitor.cs
LanguageServer/BisonLexer.cs
LanguageServer/BisonLexer.interp
LanguageServer/BisonLexer.tokens
LanguageServer/BisonParser.cs
LanguageServer/BisonParser.interp
LanguageServer/BisonParser.tokens
LanguageServer/BisonParserBaseListener.cs
LanguageServer/BisonParserBaseVisitor.cs
LanguageServer/BisonParserListener.cs
LanguageServer/BisonParserVisitor.cs
VSCode.LspAntlr/server/netcoreapp3.1/
VSCode.LspAntlr/package-lock.json
VSCode.LspAntlr/client/package-lock.json
VSCode/client/node_modules/
VSCode/client/out/
VSCode/node_modules/
VSCode/server/netcoreapp3.1/
VSCode/package-lock.json
VSCode/client/package-lock.json
VSCode/out/
a/
